{% extends 'base.html' %}

{% block title %}
    Удаление фото
{% endblock %}

{% block content %}
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <h2 class="text-danger mt-3">Удалить фотографию "{{ photo.id }}"</h2>
            <img class="avatar" src="{{ photo.photo.url }}" width="250" height="250" alt="{{ photo.description }}">
            <h6 class="mt-5 mb-5">Описание: {{ photo.description }}</h6>
            <input class="btn btn-danger w-30 mt-4" type="submit" value="Да">
        </form>
        <a class="my-3 btn btn-danger w-30" href="{% url "webapp:photo_view" photo.pk %}">Нет</a>
    </div>

{% endblock %}