{% extends 'base.html' %}

{% block title %}
    Gallery
{% endblock %}

{% block content %}
    <header>
        <div class="container text-danger my-5">
            <h1>Photos</h1>
        </div>
    </header>
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 justify-content-center">
            {% for photo in photos %}
                <div class="col my-2">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Фотография {{ photo.id }}</h5>
                            <img class="avatar" src="{{ photo.photo.url }}" width="100%" height="200" alt="{{ photo.description }}">

                            <h6 class="card-subtitle mb-2 mt-2 text-black">Подпись: {{ photo.description }}</h6>
                            <h6 class="card-subtitle mb-2 mt-2 text-black">Автор: <a href="{% url 'accounts:detail' photo.author.pk %}">{{ photo.author.first_name }}</a> </h6>
                            <h6 class="card-subtitle mb-2 mt-2 text-black">Дата создания: {{ photo.created_at }}</h6>

                            {% if photo.album %}
                                <h6 class="card-subtitle mb-2 mt-2 text-black">Альбом: <a href="{% url "webapp:album_view" photo.album.pk %}">{{ photo.album.title }}</a></h6>
                            {% else %}
                                <h6 class="card-subtitle mb-2 mt-2 text-black">Альбом: НЕТ </h6>
                            {% endif %}

                            <a href="{% url "webapp:photo_view" photo.pk %}" class="text-danger">Подробнее</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}