{% extends 'base.html' %}

{% block title %}
    Photo {{ photo.pk }}
{% endblock %}

{% block nav %}
    {% if perms.webapp.change_photo %}
            <li class="nav-item">
                <a class="nav-link" href={% url 'webapp:photo_update' photo.pk %}>Изменить фотографию</a>
            </li>
    {% endif %}
    {% if perms.webapp.delete_photo %}
            <li class="nav-item">
                <a class="nav-link text-danger" href={% url 'webapp:photo_delete' photo.pk %}>Удалить фотографию</a>
            </li>
    {% endif %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="text-center my-5">
            <h1 class="text-success"> Просмотр фотографии #{{ photo.id }}</h1>
        </div>
        <div class="alert alert-success" role="alert">
            <img class="avatar" src="{{ photo.photo.url }}" width="250" height="200" alt="{{ photo.description }}">
            <hr>
            <h6 class="card-subtitle mb-2 text-muted">Подпись: {{ photo.description }}</h6>
            <h6 class="card-subtitle mb-2 text-muted">Автор: {{ photo.author.first_name }}</h6>
            <h6 class="card-subtitle mb-2 text-muted">Дата создания: {{ photo.created_at }}</h6>
            <hr>
            {% if photo.album %}
                <h6 class="card-subtitle mb-2 text-muted">Альбом: {{ photo.album.title }}</h6>
            {% else %}
                <h6 class="card-subtitle mb-2 text-muted">Альбом: НЕТ </h6>
            {% endif %}
            {% if photo.author == user %}
                {% if photo.token == None %}
                    <a href="{% url 'webapp:photo_generate-link' photo.pk %}">Сгенерировать ссылку для доступа</a>
                {% else %}
                    <h6 class="card-subtitle mb-2 text-muted">Ссылка для доступа: <a href="{% url 'webapp:photo-link' photo.token%}">http://127.0.0.1:8000/photos/{{ photo.token }}</a> </h6>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}