{% extends 'base.html' %}

{% block title %}Вход{% endblock %}

{% block content %}
    <h2 class="mt-5 mb-5 text-danger ">Login</h2>
    <form method="post" class="w-50">
        {% csrf_token %}
        {% if has_error %}
            <p class="text-danger">Неверное имя пользователя или пароль.</p>
        {% endif %}
        <div class="mb-3">
            <label for="login" class="form-label">Имя пользователя</label>
            <input type="text" name="username" class="form-control" id="login">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Пароль</label>
            <input type="password" name="password" class="form-control" id="password">
        </div>
        <button type="submit" class="btn btn-danger w-50">Вход</button>
    </form>
{% endblock %}