{% extends 'base.html' %}
{% block nav %}
    {% if user_obj == user %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:update' %}">Редактирвоать профиль</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:change_password' %}">Сменить пароль</a>
        </li>
    {% endif %}
{% endblock nav %}

{% block content %}
    <h1 class="mb-4 text-danger">Личная страница пользователя {{ user_obj.username }}</h1>

    <p>Имя пользователя: {{ user_obj.username }}</p>
    <p>Имя: {{ user_obj.first_name }}</p>
    <p>Фамилия: {{ user_obj.last_name }}</p>
    <p>Почта: {{ user_obj.email }}</p>

    <h2 class="mb-4 text-danger">Альбомы</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 justify-content-center">
        {% for album in albums %}
            <div class="col my-2">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Альбом# {{ album.id }}</h5>
                        <h6 class="card-subtitle mb-2 text-black">Название: {{ album.title }}</h6>
                        <h6 class="card-subtitle mb-2 text-black">Описание: {{ album.description }}</h6>
                        <a href="{% url "webapp:album_view" album.pk %}" class="text-danger">Подробнее</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div>
        <h2 class="my-4 text-danger">Избранные альбомы</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 justify-content-center">
            {% for album in user_obj.selected_albums.all %}
                <div class="col my-2">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Альбом# {{ album.id }}</h5>
                            <h6 class="card-subtitle mb-2 text-black">Название: {{ album.title }}</h6>
                            <h6 class="card-subtitle mb-2 text-black">Описание: {{ album.description }}</h6>
                            <a href="{% url "webapp:album_view" album.pk %}" class="text-danger">Подробнее</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
    {% if user_obj == user %}
        <h2 class="my-4 text-danger">Приватные альбомы</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 justify-content-center">
            {% for album in private_albums %}
                <div class="col my-2">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Альбом# {{ album.id }}</h5>
                            <h6 class="card-subtitle mb-2 text-black">Название: {{ album.title }}</h6>
                            <h6 class="card-subtitle mb-2 text-black">Описание: {{ album.description }}</h6>
                            <a href="{% url "webapp:album_view" album.pk %}" class="text-danger">Подробнее</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <h2 class="mb-4 text-danger">Фотографии</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 justify-content-center">
        {% for photo in photos %}
            <div class="col my-2">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Фотография {{ photo.id }}</h5>
                        <img class="avatar" src="{{ photo.photo.url }}" width="100%" height="200"
                             alt="{{ photo.description }}">
                        <h6 class="card-subtitle mb-2 text-black">Подпись: {{ photo.description }}</h6>
                        <h6 class="card-subtitle mb-2 text-black">Автор: {{ photo.author.first_name }}</h6>
                        <h6 class="card-subtitle mb-2 text-black">Дата создания: {{ photo.created_at }}</h6>
                        {% if photo.album %}
                            <h6 class="card-subtitle mb-2 text-black">Альбом: <a
                                    href="{% url "webapp:album_view" photo.album.pk %}">{{ photo.album.title }}</a></h6>
                        {% else %}
                            <h6 class="card-subtitle mb-2 text-black">Альбом: НЕТ </h6>
                        {% endif %}
                        <a href="{% url "webapp:photo_view" photo.pk %}" class="text-danger">Подробнее</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <h2 class="mb-4 text-danger">Избранные фотографии</h2>
     <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 justify-content-center">
        {% for photo in user_obj.selected_photos.all %}
            <div class="col my-2">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Фотография {{ photo.id }}</h5>
                        <img class="avatar" src="{{ photo.photo.url }}" width="100%" height="200"
                             alt="{{ photo.description }}">
                        <h6 class="card-subtitle mb-2 text-black">Подпись: {{ photo.description }}</h6>
                        <h6 class="card-subtitle mb-2 text-black">Автор: {{ photo.author.first_name }}</h6>
                        <h6 class="card-subtitle mb-2 text-black">Дата создания: {{ photo.created_at }}</h6>
                        {% if photo.album %}
                            <h6 class="card-subtitle mb-2 text-black">Альбом: <a
                                    href="{% url "webapp:album_view" photo.album.pk %}">{{ photo.album.title }}</a></h6>
                        {% else %}
                            <h6 class="card-subtitle mb-2 text-black">Альбом: НЕТ </h6>
                        {% endif %}
                        <a href="{% url "webapp:photo_view" photo.pk %}" class="text-danger">Подробнее</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if user_obj == user %}
        <h2 class="my-4 text-danger">Приватные фотографии</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 justify-content-center">
        {% for photo in private_photos %}
            <div class="col my-2">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Фотография {{ photo.id }}</h5>
                        <img class="avatar" src="{{ photo.photo.url }}" width="100%" height="200"
                             alt="{{ photo.description }}">
                        <h6 class="card-subtitle mb-2 text-black">Подпись: {{ photo.description }}</h6>
                        <h6 class="card-subtitle mb-2 text-black">Автор: {{ photo.author.first_name }}</h6>
                        <h6 class="card-subtitle mb-2 text-black">Дата создания: {{ photo.created_at }}</h6>
                        {% if photo.album %}
                            <h6 class="card-subtitle mb-2 text-black">Альбом: <a
                                    href="{% url "webapp:album_view" photo.album.pk %}">{{ photo.album.title }}</a></h6>
                        {% else %}
                            <h6 class="card-subtitle mb-2 text-black">Альбом: НЕТ </h6>
                        {% endif %}
                        <a href="{% url "webapp:photo_view" photo.pk %}" class="text-danger">Подробнее</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}