{% csrf_token %}

{% for error in form.non_field_errors %}
   <p class="text-danger m-0">{{ error }}</p>
{% endfor %}

<div class="mb-3">
  {% for field in form %}
    <div class='text-black mt-5 mb-5' >
    <p class="m-0"><label for="{{ field.id_for_label }}">{{ field.label }}</label></p>
    {% for error in field.errors %}
        <p class="text-danger m-0">{{ error }}</p>
    {% endfor %}
    {{ field }}
    </div>
{% endfor %}
</div>

<input class="btn btn-danger w-30" type="submit" value="{{ button_text }}"/>